
@import url('https://fonts.googleapis.com/css?family=Hind');

/*HOME*/

.App-header {
  background-color: #025C91;
  min-height: 100vh;
  color: white;
}

.nav-item {
  color: #fff;
  margin-right: 2.5em;
  padding-bottom: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.nav-item:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 3px solid #D16A47;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: links !important;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blue-line {
  border-bottom: 0.5px solid #007bff;;
}

.row-content {
  min-height: 80vh;
}

.title, .subtitle {
  font-family: 'Hind', sans-serif;
}

.white-line {
  border-bottom: 0.5px solid #fff;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

a.social-icons {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
  padding: 11px;
  transition-duration: .3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.7,1,.7,1);
}

a.social-icons:hover {
  background-color: #fff;
  color: #007bff;
}

/*ABOUT*/

.section-height {
  min-height: 100vh;
}

.col-size-30 {
  max-width: 25%;
}

.col-size-70 {
  width: 60%;
}

.progress-box .progress {
  box-shadow: none;
  height: 3px;
}

.progress-box .progress-bar {
  transition-duration: 2000ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/*EXPERIENCE*/
.card-width {
  width: 25vw;
  height: 20vw;
  margin-left: 0.5em;
  border: 1px solid #007bff;
  border-radius: 3%;
}

.row-size-100 {
  width: 100vw;
}

.btn-info {
  background-color: #025C91;
}
.btn-info:hover {
  background-color: #024a75;
}

.download-txt {
  text-decoration: none !important;
}

/*PROJECTS*/

.box-projects {
  height: 20vw;
  background-color: blue;
  border: 1px solid #fff;
}

/*FOOTER*/

.bg-footer {
  background: #ededed;
}
